<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">


	<!-- Appenders -->

	<appender name="stdout-appender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%t] [%5p] %20c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="console-appender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="log-appender"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="utils4j.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%t] [%5p] %20c{1} - %m%n" />
		</layout>
	</appender>


	<!-- Class Loggers -->



	<!-- Application Loggers -->

	<logger name="Console" additivity="false">
		<level value="info" />
		<appender-ref ref="console-appender" />
	</logger>


	<!-- Root Logger -->

	<root>
		<priority value="warn" />
		<appender-ref ref="stdout-appender" />
	</root>

</log4j:configuration>
